@use "./reset.scss";
@use "./variaveis.scss";

.hero{
  background-image: url("../images/fundo1.svg");
  background-repeat: no-repeat;
  background-size: cover;

  color: variaveis.$colorTextHero;

  &__container{
    max-width: 1024;
    margin: 0 auto;
    text-align: center;

    &__titulo{
      font-family: variaveis.$tituloHero;
      font-size: 8rem;
      line-height: 7rem;

      @media(max-width: 768){
        font-size: 4rem;
        line-height: 4rem;

        padding-top: 3rem;
      }
    }

    &__texto{
      font-size: 2rem;

      padding-top: 3rem;

      @media(max-width: 768px) {
          font-size: 1.5em;

          padding: 3rem 1rem;
      }
    }

    &__timer{
      display: block;

      padding-bottom: 3rem;

      font-size: 3rem;
      font-weight: bold;
    }

    &__botao{
      background-color: variaveis.$colorButtonHero;
      color: variaveis.$colorTextHero;

      text-decoration: none;
      font-size: 1.5rem;

      padding: .8rem 1.8rem;

      border-radius: 1rem;

      transition: all .3s;

      &:hover{
        background-color: variaveis.$colorButtonHover;
        color: black;

        transition: all .3s;
      }
    }
  }

}

.regras{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4rem;

  background-image: url("../images/fundoregras.svg");
  background-size: cover;
  background-repeat: no-repeat;

  padding: 1rem 0;

  &__img{
    padding-left: 1rem;
  }

  @media(max-width: 768px) {
    padding: 0 1rem
  }

  @media(max-width: 1024px) {
    justify-content: center;

    &__img{
      display: none;
    }
  }

  &__texto{
    max-width: 40rem;
    margin: 1rem 5rem 0 0;
    padding: 1rem .5rem;

    backdrop-filter: blur(50px) saturate(100%);
    background-color: rgba(255, 255, 255, 0.1);

    @media(max-width: 1024px){
      padding: 3rem 0 1rem;
      margin: 3rem 0 1rem;

      text-align: center;

      backdrop-filter: blur(10px) saturate(100%);
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 12px;
      border: 1px solid rgba(209, 213, 219, 0.3);
    }

    &__titulo{
      font-size: 2.5rem;
      line-height: 2.5rem;

      padding-bottom: 2rem;

      @media(max-width: 768px){
        font-size: 1.5rem;
        line-height: 1.6rem;
      }
    }

    &__ul{
      list-style: none;
      font-size: 1.2rem;

      @media(max-width: 768px){
        font-size: 1rem;

        padding: 0 .5rem;
      }

      li{
        padding-bottom: .5rem;
      }
    }
  }

}

.atracoes{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;

  background-image: url("../images/fundo2.svg");
  background-size: cover;
  background-repeat: no-repeat;

  padding: 3rem;

  @media(max-width: 768px) {
    padding: 0 1rem
  }

  @media(max-width: 1024px) {
    justify-content: center;

    &__img{
      display: none;
    }
  }

  &__texto{
    max-width: 40rem;
    
    margin: 1rem 5rem 0 0;
    padding: 1rem .5rem;

    @media(max-width: 1024px){
      padding: 3rem 0 1rem;
      margin: 3rem 0 1rem;

      text-align: center;
    }

    &__titulo{
      font-size: 2.5rem;
      line-height: 2.5rem;

      padding-bottom: 2rem;

      @media(max-width: 768px){
        font-size: 1.5rem;
        line-height: 1.6rem;
      }
    }

    &__ul{
      list-style: none;
      font-size: 1.2rem;

      @media(max-width: 768px){
        font-size: 1rem;

        padding: 0 .5rem;
      }

      li{
        padding-bottom: .5rem;
      }
    }
  }
}